body {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("background-image-1.jpg");
    background-color: linear-gradient(left,right,rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-size: cover;
    background-position: center;
    opacity: 0.9; /* Lower this for more transparency */
}